<div class="container-lg d-flex flex-column align-items-center">
  <div class="alert alert-success" role="alert">
    ¡COMPRA REALIZADA CON ÉXITO!
  </div>
  <a href="/" class="btn btn-success m-5">Inicio</a>
</div>